@font-face {
  font-family: "SF-Pro";
  font-weight: 700;
  src: url("~assets/fonts/SF-Pro-Text-Heavy.woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  src: url("~assets/fonts/IBMPlexSans-Regular.woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  src: url("~assets/fonts/IBMPlexSans-Medium.woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  src: url("~assets/fonts/IBMPlexSans-Bold.woff2");
}
