.uppercase {
  text-transform: uppercase;
}

.increase {
  color: var(--red);
}

.decrease {
  color: var(--green);
}

.neutral {
  opacity: 0.5;
}

.span-full {
  grid-column: 1 / -1;
  flex-basis: 100%;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
